.vs/
.vscode/
.vscode/
cmake/build/
build/
*.tar
protos/rendezvous.proto
datastore-monitor/__pycache__
datastore-monitor/proto/__pycache__
server-eval/proto/__pycache__
server-eval/plots/**
server-eval/results/**
server-eval/remote-csv-results/**
metadata-server/examples/python/rendezvous/protos/__pycache__/**
metadata-server/examples/python/rendezvous/protos/**
!metadata-server/examples/python/rendezvous/protos/.keep
datastore-monitor/proto/**
TODO.md
